@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Examen practico P1 PROGRAMACION IV - JOSUE MULLO</p>
    <img src="~/imgs/meme (1).jpg" alt="meme" class="img-fluid img-meme" />


    <div class="mt-3">
        <label for="userInput" class="form-label">Ingresa tu texto:</label>
        <input type="text" id="userInput" name="userInput" class="form-control" placeholder="Escribe algo" />
    </div>
    <button type="button" class="btn btn-outline-info">Enviar</button>
</div>

